---
import Base from "@/layouts/Base.astro";
import AnimatedContent from "src/layouts/components/react/AnimatedContent/AnimatedContent.jsx"

---
<Base>

<div class="container flex justify-center items-center" >
  <div
class="relative bg-gradient"
style="width: 300px; height: 200px; border-radius: 37px;"
>
<img
src="/images/favicon.svg"
alt="Foto PNG"
style="width: 250px; height: 250px;"
class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
/>
</div>

<div data-aos="fade-up" class="flex flex-col justify-center items-center">
  <h1>HELLOW</h1>
</div>
</div>


    
</Base>