---
import Base from "@/layouts/Base.astro";

---

<Base>
  <section class="section banner relative">
    <div class="container">
      <div class="row items-center">
        <div
        class="relative bg-gradient"
        style="width: 494px; height: 330px; border-radius: 48px;"
      >
        <img
          src="/images/mentahan-banner.png"
          alt="Foto PNG"
          style="    width: 500px;
      height: 331px; margin-left: -25px;"
          class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        />
      </div>
  
      <div data-aos="fade-up" class="flex flex-col justify-center items-center">
        <h1>HELLOW</h1>
      </div>
    </div>
      </div>
      
  </section>

</Base>
