---
// src/pages/index.astro atau komponen Astro Anda yang lain
import { AiFillCheckCircle } from "react-icons/ai";
import VideoPlayer from "../layouts/function-components/VideoPlayer";

const videoSrc = "/videos/project_mariner__ui-demo_a_16-9.mp4";
const posterSrc =
  "https://lh3.googleusercontent.com/-YVvFKf5Lp8usirMS-Scu_tK9-0t2-CTShcenxfgTmWSHMFDuIG93-POZwxi6EPKYc3v8dfxWd75goRopAsCofU3qdyOr3JDwgnuL3yFp9yFrRsu=w2140-rw";
---

<section class="section videoProfile relative">
  <div class="container mt-8">
    <div class="row ">
      <div class="lg:col-6 lg:order-2 order-1" data-aos="fade-up">
        <VideoPlayer videoSrc={videoSrc} posterSrc={posterSrc} client:load />
      </div>
      <div class="lg:col-6 lg:order-1 order-2">
        <h1 class="banner-title lg:text-left text-center mt-6" data-aos="fade-up" data-aos-duration="1000">
          Video Profil <br> MA NU 01 Banyuputih
        </h1>
        <p class="mt-6 lg:text-left text-center" data-aos="fade-up" data-aos-duration="1500">
          Video profil Madrasah memperkenalkan kepada kalian hal-hal berkaitan dengan lingkungan sekolah, fasilitas umum sekolah, fasilitas pembelajaran, ruang belajar, kegiatan siswa dan masih banyak lagi.
        </p>
        <ul class="mt-6" data-aos="fade-up" data-aos-duration="1550">
          <li class="mb-2 flex items-center rounded px-4">
            <AiFillCheckCircle className="mr-3 fill-(--color-primary) text-white" />
            Fasilitas lengkap
          </li>
          <li class="mb-2 flex items-center rounded px-4">
            <AiFillCheckCircle className="mr-3 fill-(--color-primary) text-white" />
            Baju free 4 setelan
          </li>
        </ul>
      </div>
    </div>
    <style>
      video {
        width: 100%;
        object-fit: cover;
      }
    </style>
  </div>
</section>