---
import { markdownify } from "@/lib/utils/textConverter"; // Import fungsi untuk mengubah Markdown ke HTML
import { Image } from "astro:assets"; // Import komponen Image dari Astro untuk optimasi gambar

// Mendapatkan props yang diteruskan ke komponen ini
const { videop } = Astro.props;
// Import komponen VideoComponent untuk menampilkan video
import VideoComponent from "@/layouts/function-components/VideoComponent";

---

<section class="section videoProfile relative">
    <div class="container">
        <div class="row items-center">
            <div class="lg:col-6">
                <h1 class="banner-title lg:text-left text-center">
                    Mengapa harus kita?
                </h1>
                <p class="mt-6 lg:text-justify text-center">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, beatae eos. Excepturi minima in numquam voluptates, mollitia, vero nulla ab id modi quisquam exercitationem! A possimus doloribus quia dolorum architecto?
                </p>
        </div>

        <div class="lg:col-6">
            <VideoComponent
            client:load
            src='images/intro-thumbnail.png'
            height={370}
            width={700}
            title="MA NU 01 Banyuputih"
            video_id="Vc4LI5tr2G8" 
            video_width="w-[700px]" 
            video_height="h-[370px]" 
          />
        </div>
    </div>

</section>